**/.DS_Store
**/.idea
**/package-lock.json
**/node_modules/
**/.venv/
**/build/
**/dist/
**/__pycache__/

# Hardhat build artifacts and cache
**/artifacts/
**/cache/
**/coverage/
**/coverage.json
**/*.tsbuildinfo
**/*.log
**/typechain/
**/deployments/
**/imports/
**/Lock.*